@import 'core/palette';

.component {
  text-align: center;

  ul {
    list-style: none;

    li {
      padding: 70px 0;

      &:nth-child(2) {
        font-family: serif;
        color: $jd-color-springgreen;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  a {
    color: $jd-color-yellow;
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 4px;
    marquee {
      font-size: 14px;
    }
  }
}

.contentContainer {
  box-sizing: border-box;
  padding: 73px 0 20px;
  min-height: 100%;
  background-image: url('./routes/root/assets/background.gif');
  background-attachment: fixed;
}

.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
