@import 'core/media-queries';
@import 'core/palette';

.content {
  box-sizing: border-box;
  padding: 73px 0 20px;
  min-height: 100%;
  background-image: url('./assets/background.gif');
  text-align: center;

  @media #{$jd-media-tablet} {
    background-attachment: fixed;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 70px 10px;

      &:nth-child(2) {
        font-family: serif;
        color: $jd-color-springgreen;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  a {
    color: $jd-color-yellow;
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 4px;
    marquee {
      font-size: 14px;
    }
  }

  header {
    display: inline-block;
    width: 300px;

    @media #{$jd-media-phone} {
      width: auto;
      display: block;
    }

    .logo {
      background-image: url('./assets/logo.gif');
      background-repeat: no-repeat;
      display: inline-block;
      height: 70px;

      &.first {
        width: 191px;
      }

      &.last {
        background-position: -221px 0;
        width: 240px;

        @media #{$jd-media-phone} {
          margin-left: 30px;
        }
      }
    }
  }
}

.enter {
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
