.route-root-component {
  padding-top: 100px;
  text-align: center;

  h1 {
    margin: 0;
  }

  h1,
  input {
    font-family: 'Lato';
    font-size: 48px;
    font-weight: bold;
  }

  input {
    border: 0;
    border-bottom: 1px solid $jd-black;
    display: inline-block;
    margin-bottom: 20px;
    outline: none;
    padding-left: 10px;
    width: auto;
  }
}
