@import '~normalize.css';
@import './core/palette';
@import './core/fonts';

@-ms-viewport {
  width: device-width;
}

html {
  // prevent overscrolling in Chrome
  overflow: hidden;
  height: 100%;
}

body {
  font: $jd-font-default;
  background: $jd-color-black-currant;
  color: $jd-color-red;
  margin: 0;
  height: 100%;
  overflow: auto;
}
